<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Protein</h4>
            <div class="card-body">
                <p class="card-text">  <ul style="list-style-type:disc">
                Benefits of protein:
                <li>Lose fat and preserve muscle</li>
                <li>Increase size and strength</li>
                <li>Reduce hunger,</li>
                <li>Fight cancer</li>
                <li>Manage stress</li>
                <li>Improve immunity</li>
            </ul>

            </div>
            <div class="card-footer">
                <a href="https://www.bodybuilding.com/content/how-to-pick-the-perfect-protein-powder.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Creatine</h4>
            <div class="card-body">
                <p class="card-text"><ul style="list-style-type:disc">
                Benefits of creatine:
                <li>High intensity work</li>
                <li>Enhances recovery</li>
                <li>Improves anaerobic capacity</li>
                <li>Enhances muscle volumization</li>
                <li>Enhances methylation</li>
                <li>Enhances brain function</li>
                <li>Improves bone healing</li>
            </ul>
            </div>
            <div class="card-footer">
                <a href="https://www.bodybuilding.com/fun/drobson181.htm" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">BCAA</h4>
            <div class="card-body">
                <p class="card-text"><ul style="list-style-type:disc">
                Benefits of BCAA:
                <li>Increases the rate of protein synthesis</li>
                <li>Reduces the amount of protein breakdown</li>
                <li>Improves exercise performance</li>
                <li>Reduces fatigue and increase endurance</li>
                <li>improve fat loss</li>
                <li>increases lean mass</li>
            </ul>
            </div>
            <div class="card-footer">
                <a href="https://www.bodybuilding.com/fun/bcaas-the-many-benefits-of-amino-acids.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>